<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="utf-8">
  <title>400</title>
  <link href="css/errors.css" rel="stylesheet">
</head>
<body>
<section class="notFound">
  <div class="img">
    <img src="https://assets.codepen.io/5647096/backToTheHomepage.png" alt="Back to the Homepage"/>
    <img src="https://assets.codepen.io/5647096/Delorean.png" alt="El Delorean, El Doc y Marti McFly"/>
  </div>
  <div class="text">
    <h1>400</h1>
    <h1>Bad Request</h1>
    <h2><span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
              th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}"/></h2>
    <a th:href="@{/}" class="yes">Back</a>
  </div>
</section>
</body>
</html>