<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <title>500</title>
    <link href="css/errors.css" rel="stylesheet">
</head>
<body>
<section class="notFound">
    <div class="img">
        <img src="https://assets.codepen.io/5647096/backToTheHomepage.png" alt="Back to the Homepage"/>
        <img src="https://assets.codepen.io/5647096/Delorean.png" alt="El Delorean, El Doc y Marti McFly"/>
    </div>
    <div class="text">
        <h1>500 Server Error</h1>
        <h1>Hm...</h1>
        <h2>Unfortunately, the server crashed. Sorry.</h2>
        <a th:href="@{/}" class="yes">Home</a>
    </div>
</section>
</body>
</html>