<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <meta charset="utf-8">
    <title>SomeHomes</title>
    <!-- Stylesheets -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/stylesLogin.css}" rel="stylesheet"/>
    <!-- Responsive File -->
    <link th:href="@{/css/responsive.css}" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <link rel="icon" href="images/favicon.png" type="image/x-icon">

    <!-- Responsive Settings -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
    <script th:src="@{/js/respond.js}"></script><![endif]-->
</head>
<body>

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader">
        <div class="icon"></div>
    </div>

    <!-- Main Header -->
    <header class="main-header header-style-one">

        <!-- Header Upper -->
        <div class="header-upper">
            <div class="inner-container clearfix">
                <!--Logo-->
                <div class="logo-box">
                    <div class="logo"><a th:href="@{/}" title="SomeHomes-logo"><img src="images/logo.png"
                                                                                       alt="SomeHomes"
                                                                                       title="SomeHomes-logo"></a></div>
                </div>
                <div class="nav-outer clearfix">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler"><span class="icon flaticon-menu-2"></span><span
                            class="txt">Menu</span></div>

                    <!-- Main Menu -->
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li><a rel="noopener noreferrer" target="_blank" href="https://www.aviasales.ru">Авиабилеты</a>
                                </li>
                                <li><a rel="noopener noreferrer" target="_blank" href="https://bookingcar.eu/">Аренда
                                    автомобилей</a></li>
                            </ul>

                        </div>
                    </nav>
                </div>


                <div class="other-links clearfix">
                    <div class="info">
                        <ul class="clearfix">
                            <li class="dropdown"><a th:href="@{/profile}"><span class="icon flaticon-user"></span><span
                                    class="txt">Ваш акккаунт</span></a>
                            </li>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!--End Header Upper-->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="close-btn"><span class="icon flaticon-targeting-cross"></span></div>
            <div class="menu-backdrop"></div>
            <div class="nav-logo"><a th:href="@{/}"><img src="images/nav-logo.png" alt="" title=""></a></div>
            <nav class="menu-box">
                <div class="menu-outer">
                    <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            </nav>
            <div class="nav-bottom">
                <div class="copyright">SomeHomes &copy; 2021 All Right Reserved</div>
                <!--Social Links-->
            </div>
        </div><!-- End Mobile Menu -->

    </header>
    <!-- End Main Header -->


    <!-- Banner Section -->
    <section class="page-banner">
        <div class="image-layer" style="background-image:url(images/background/banner-image-3.jpg);"></div>
        <div class="banner-bottom-pattern"></div>
    </section>
    <!--End Banner Section -->

    <!--Events Section-->
    <section class="events-section">
        <div class="auto-container">
            <div class="events-box">
                <!--UserInfo-->
                <div class="event-block wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/featured-image-41.jpg" alt="" title="">
                            </figure>
                            <div class="image-layer"
                                 style="background-image: url(images/resource/featured-image-41.jpg);"></div>
                            <a class="overlink" th:href="@{profile/updateUserInfo/{id}(id=${user.getId()})}"></a>
                        </div>
                        <div class="content-box">
                            <h4>Персональная Информация</h4>
                            <div class="text">Обновите свои данные.
                            </div>
                            <div class="link-box"><a th:href="@{profile/updateUserInfo/{id}(id=${user.getId()})}" class="theme-btn btn-style-one"><span
                                    class="btn-title">Редактировать</span></a></div>
                        </div>
                    </div>
                </div>

                <!--Booking-->
                <div class="event-block wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/featured-image-42.jpg" alt="" title="">
                            </figure>
                            <div class="image-layer"
                                 style="background-image: url(images/resource/featured-image-42.jpg);"></div>
                            <a class="overlink" href=""></a>
                        </div>
                        <div class="content-box">
                            <h4>Бронирования</h4>
                            <div class="text">Ваши бронирования.
                            </div>
                            <div class="link-box"><a href="" class="theme-btn btn-style-one"><span
                                    class="btn-title">Смотреть</span></a></div>
                        </div>
                    </div>
                </div>

                <!--Review-->
                <div class="event-block wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="images/resource/featured-image-43.jpg" alt="" title="">
                            </figure>
                            <div class="image-layer"
                                 style="background-image: url(images/resource/featured-image-43.jpg);"></div>
                            <a class="overlink" href=""></a>
                        </div>
                        <div class="content-box">
                            <h4>Отзывы</h4>
                            <div class="text">Отзывы о проживании.
                            </div>
                            <div class="link-box"><a href="" class="theme-btn btn-style-one"><span
                                    class="btn-title">Смотреть</span></a></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <a th:if="${#request.userPrincipal != null}" th:href="@{/logout}">Выйти</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Main Footer -->
    <footer class="main-footer">
        <div class="top-pattern-layer-dark"></div>

        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="auto-container">
                <div class="row clearfix">

                    <!--Column-->
                    <div class="column col-xl-3 col-lg-12 col-md-12 col-sm-12">
                        <div class="footer-widget about-widget">
                            <div class="logo">
                                <a href="#"><img src="images/footer-logo.png" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="column col-xl-5 col-lg-8 col-md-12 col-sm-12">
                        <div class="footer-widget links-widget">
                            <div class="widget-content">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="widget-title">
                                            <h4>Навигация</h4>
                                        </div>
                                        <ul class="links">
                                            <li><a th:href="@{/}">На главную</a></li>
                                            <li><a th:href="@{/sign-up}">Зарегистрироваться</a></li>
                                            <li><a th:href="@{/sign-in}" >Войти</a></li>
                                            <li><a th:href="@{/contact}">Связаться с нами</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="widget-title">
                                            <h4>Контакты</h4>
                                        </div>
                                        <ul class="info">
                                            <li class="address">221b, Baker Street, London, NW1 6XE, UK</li>
                                            <li class="phone"><a href="tel:+2(351) 248-2599">+2(351) 248-2599</a>
                                            </li>
                                            <li class="email"><a
                                                    href="mailto:info@somehomes.com">info@somehomes.com</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="column col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget newsletter-widget">
                            <div class="widget-title">
                                <h4>Новости</h4>
                            </div>
                            <div class="text">Подписаться на рассылку новостной ленты</div>
                            <!--Newsletter-->
                            <div class="newsletter-form">
                                <form method="post" th:action="@{/index}">
                                    <div class="form-group clearfix">
                                        <input type="email" name="email" value="" placeholder="Email" required>
                                        <button type="submit" class="theme-btn btn-style-one"><span class="btn-title">Подписаться</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="inner clearfix">
                    <div class="copyright"> 2021 SomeHomes - All Right Reserved</div>
                    <div class="bottom-links">
                        <a href="#">Правила и условия</a> &ensp;|&ensp; <a href="#">
                        Политика конфиденциальности</a>
                    </div>
                </div>
            </div>
        </div>

    </footer>
</div>
<!--End pagewrapper--><!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-up-arrow"></span></div>

<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/jquery.fancybox.js}"></script>
<script th:src="@{/js/owl.js}"></script>
<script th:src="@{/js/scrollbar.js}"></script>
<script th:src="@{/js/appear.js}"></script>
<script th:src="@{/js/wow.js}"></script>
<script th:src="@{/js/custom-script.js}"></script>

</body>
</html>